<form [formGroup]="extractionForm" (submit)="editUser()">
    <div>
        <input [formControlName]="'name'" [(ngModel)]="user.firstName">
    </div>

    <div>
        <input [formControlName]="'last_name'" [(ngModel)]="user.lastName">
    </div>
    
    <div>
        <input [formControlName]="'email'" [(ngModel)]="user.email">        
    </div>

    <div>
        <input [formControlName]="'permissions'" [(ngModel)]="user.permissions">
    </div>

    <div>
        <input [formControlName]="'password'" placeholder="password">
    </div>
    
        
    <button [disabled]="!extractionForm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>