<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a [routerLink]="'/'" class="navbar-brand">Domaci 3</a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a [routerLink]="'/'" class="nav-link active" aria-current="page">Home </a>
            <a [routerLink]="'/login'" class="nav-link active" aria-current="page">Login </a>
            <a [routerLink]="'/users-view'" class="nav-link active" aria-current="page">Users view </a>
            <a [routerLink]="'/add-user'" class="nav-link active" aria-current="page">Add user </a>
            <a [routerLink]="'/search-vacuums'" class="nav-link active" aria-current="page">Search vacuums </a>
            <a [routerLink]="'/add-vacuum'" class="nav-link active" aria-current="page">Add vacuum </a>
            <a [routerLink]="'/error-history'" class="nav-link active" aria-current="page">Error history</a>
            <a [routerLink]="'/start-vacuum'" class="nav-link active" aria-current="page">Start vacuum</a>
            <a [routerLink]="'/stop-vacuum'" class="nav-link active" aria-current="page">Stop vacuum</a>
            <a [routerLink]="'/discharge-vacuum'" class="nav-link active" aria-current="page">Discharge vacuum</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
  <div class="container pt-3">
    <router-outlet></router-outlet>
  </div>
  