<form [formGroup]="extractionForm" (submit)="addUser()">
    <div>
        <input [formControlName]="'name'" placeholder="name">
    </div>

    <div>
        <input [formControlName]="'last_name'" placeholder="last name">
    </div>
    
    <div>
        <input [formControlName]="'email'" placeholder="email">        
    </div>

    <div>
        <input [formControlName]="'permissions'" placeholder="permissions">
    </div>

    <div>
        <input [formControlName]="'password'" placeholder="password">
    </div>
    
        
    <button [disabled]="!extractionForm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>